USE [master]
GO
/****** Object:  Database [AptechDB]    Script Date: 16/10/2019 2:04:16 PM ******/
CREATE DATABASE [AptechDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AptechDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AptechDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AptechDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AptechDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AptechDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AptechDB]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 16/10/2019 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[StudID] [int] NULL,
	[FullName] [varchar](75) NULL,
	[Bill] [decimal](18, 2) NULL,
	[Payment] [decimal](18, 2) NULL,
	[TDate] [date] NULL,
	[Note] [text] NULL,
	[UserName] [varchar](50) NULL,
	[DOT] [date] NULL,
	[EnrollmentType] [varchar](20) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 16/10/2019 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Programs](
	[ProgramID] [int] IDENTITY(1,1) NOT NULL,
	[ProgramName] [varchar](30) NULL,
	[Duration] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[UserName] [varchar](50) NULL,
	[DOT] [date] NULL,
 CONSTRAINT [PK_Programs] PRIMARY KEY CLUSTERED 
(
	[ProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 16/10/2019 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[StudID] [int] IDENTITY(1,1) NOT NULL,
	[RollNumber] [varchar](25) NULL,
	[FirstName] [varchar](25) NULL,
	[MiddleName] [varchar](25) NULL,
	[Surname] [varchar](25) NULL,
	[FullName] [varchar](75) NULL,
	[ProgramName] [varchar](50) NULL,
	[Duration] [int] NULL,
	[Amount] [numeric](18, 2) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Note] [text] NULL,
	[Active] [bit] NULL,
	[IdenID] [int] NULL,
	[Phone1] [varchar](15) NULL,
	[Phone2] [varchar](15) NULL,
	[Email] [varchar](30) NULL,
	[UserName] [varchar](50) NULL,
	[DOT] [date] NULL,
	[EnrollmentType] [varchar](15) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/10/2019 2:04:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [varchar](15) NOT NULL,
	[Password] [varchar](15) NULL,
	[Role] [varchar](15) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
